html {
	margin:0;
	padding:0;
	border:0;
	height:100%;
	direction:rtl;
}
body {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	height:100%;
	font-size:13px;
	background:#edf2fe url(../images/body_bg.jpg) repeat-x;
}
a img {
	border:0;
}
a {
	text-decoration:none;
	color:inherit;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span {
	margin:0;
	padding:0;
}
ul {
	margin:0;
	padding:0;
	list-style-type:none;
	line-height:0;
}
/*------------------------------------------------main--------------------*/
.spacer {
	clear:both;
	font-size:0;
	line-height:0;
	margin:0;
	padding:0;
}
.clear:after {
	clear:both;
	height:0px;
	visibility:hidden;
	display:block;
	content:'.';
}
@font-face {
    font-family: 'ge_ssbold';
    src: url('../font/ge_ss_text_bold_3-webfont.eot');
    src: url('../font/ge_ss_text_bold_3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ge_ss_text_bold_3-webfont.woff') format('woff'),
         url('../font/ge_ss_text_bold_3-webfont.ttf') format('truetype'),
         url('../font/ge_ss_text_bold_3-webfont.svg#ge_ssbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ge_sslight';
    src: url('../font/ge_ss_text_light_2-webfont.eot');
    src: url('../font/ge_ss_text_light_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ge_ss_text_light_2-webfont.woff') format('woff'),
         url('../font/ge_ss_text_light_2-webfont.ttf') format('truetype'),
         url('../font/ge_ss_text_light_2-webfont.svg#ge_sslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ge_ssmedium';
    src: url('../font/ge_ss_text_medium_2-webfont.eot');
    src: url('../font/ge_ss_text_medium_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ge_ss_text_medium_2-webfont.woff') format('woff'),
         url('../font/ge_ss_text_medium_2-webfont.ttf') format('truetype'),
         url('../font/ge_ss_text_medium_2-webfont.svg#ge_ssmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'webfontregular';
    src: url('../font/axtfashkoul-webfont.eot');
    src: url('../font/axtfashkoul-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/axtfashkoul-webfont.woff') format('woff'),
         url('../font/axtfashkoul-webfont.ttf') format('truetype'),
         url('../font/axtfashkoul-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'VAGRoundedStd-Light';
	src: url('../font/vagroundedstdlight.eot');
	src: url('../font/vagroundedstdlight.eot?#iefix') format('embedded-opentype'),
			 url('../font/vagroundedstdlight.woff') format('woff'),
			 url('../font/vagroundedstdlight.ttf') format('truetype'),
			 url('../font/vagroundedstdlight.svg#vagroundedstdlight') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------------------------------main--------------------*/


/*------------------------------------------------Header-------------------------------------------------*/
.header {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	height:130px;
	background:url(../images/header_bg.jpg) repeat-x center;
}
.wrapper {
	width:960px;
	margin:0 auto;
}
.logo {
	width:147px;
	height:99px;
	float:right;
	margin:15px 0 0 0;
}
.header_left {
	width:765px;
	float:left;
}
.header_left_top{
	width:100%;
	height:25px;
	padding:20px 0;
	border-bottom:dotted 1px #62a4cf;
}
.header_left_top ul{
	line-height:20px;
	margin-top:5px;
	width:580px;
	float:right;
}
.header_left_top ul li{
	float:right;
	margin:0 14px;
}
.header_left_top ul li a{
	color:#FFF;
	font-family: 'ge_sslight';
	font-size:12px;
}
.header_left_top ul li a:hover, .header_left_top ul li a.active{
	color:#f3c612;
	
}
.header_left_top .search_wrap{
	width:185px;
	height:25px;
	background:#ddeff2;
	border-radius:40px;
	box-shadow:0px 2px 5px #999 inset;	
	float:left;
}
.header_left_top .search_wrap input[type="text"]{
	width:150px;
	height:24px;
	background:transparent;
	float:right;
	border:0;
	margin-right:12px;
	color:#86b2c2;
	font-family: 'ge_sslight';
	font-size:13px;
}
.header_left_top .search_wrap input[type="submit"]{
	width:17px;
	height:17px;
	background:url(../images/search_btn.png) no-repeat;
	border:0;
	color:transparent;
	font-size:0px;
	cursor:pointer;
	margin-top:4px;
}
.nav{
	width:100%;
}
.nav ul{
	width:100%;
	line-height:20px;
	margin-top:24px;
}
.nav ul li{
	float:right;
}
.nav ul li a{
	color:#FFF;
	font-family: 'ge_ssmedium';
	font-size:14px;
	padding:10px 16px 20px 16px;
	margin-right:2px;
} 

/*------------------------------------------------------------------Footer-----------------------------------------------------*/
.footer{
	width:100%;
	background:url(../images/footer_bg.jpg) repeat;	
}
.footer_boxes{
	width:100%;	
	margin-top:20px;
}
.footer_boxes .footboxes{
	width:176px;	
	height:175px;
	float:right;
	margin-left:20px;
}
.footer_boxes .footboxes h3{
	font-family: 'ge_sslight';
	font-size:13px;
	width:146px;
	padding:8px 15px;
	font-weight:normal;
	line-height:20px;
	border-radius:0px 0px 5px 5px;
}
.footer_boxes .footboxes ul{
	line-height:25px;	
	margin-top:10px;
	font-size:12px;
	margin-right:10px;
}
.footer_boxes .footboxes.footbox_01 h3{
	background:#de5692;
	color:#FFF;
}
.footer_boxes .footboxes.footbox_01{
	color:#de5692;
}
.footer_boxes .footboxes.footbox_02 h3{
	background:#ffdb40;
	color:#a26b2a;
}
.footer_boxes .footboxes.footbox_02{
	color:#a26b2a;
}
.footer_boxes .footboxes.footbox_03 h3{
	background:#a8d0f1;
	color:#607c93;
}
.footer_boxes .footboxes.footbox_03{
	color:#607c93;
}
.footer_boxes .footboxes.footbox_04 h3{
	background:#cc3333;
	color:#FFF;
}
.footer_boxes .footboxes.footbox_04{
	color:#cc3333;
}
.footer_boxes .footboxes.footbox_05 h3{
	background:#b8d269;
	color:#5e7222;
	line-height: 14px !important;
    padding: 5px 15px 4px 15px !important;
}
.footer_boxes .footboxes.footbox_05{
	color:#5e7222;
	margin-left:0;
}
.footer_menu{
	width:100%;
	margin-top:30px;
	margin-bottom:10px;	
}
.footer_menu ul{
	line-height:20px;
}
.footer_menu ul li{
	float:right;
	margin-left:30px;
}
.footer_menu ul li a{
	font-weight:bold;
	color:#6f8a97;
} 
.footer_menu ul li a:hover{
	color:#000;
} 
.footer_rule{
	width:100%;
	height:1px;
	background:#FFF;
	clear:both;
	margin-top:15px;	
}
.copy_right_right{
	width:70%;
	float:right;
	font-size:12px;
	color:#9e9e9e;
	padding:10px 0 20px 0;
}
.copy_right_left{
	width:28%;
	float:left;
	font-size:12px;
	color:#9e9e9e;
	padding:10px 0 20px 0;
	text-align:left;	
}

/*---------Banner ----------*/
.banner {
	width:960px;
	height:310px;
	margin:0 auto;
}

.banner .banner_right {
    float: right;
    width: 180px;
}

.banner .banner_right img {
    margin-top: 150px;
	margin-right:20px;
}

.banner .banner_middle {
    float: right;
    padding: 38px 0 0;
    width: 450px;
}

.banner .banner_middle h2 {
    color: #DD0C15;
    font-family: 'webfontregular';
    font-size: 52px;
}

.banner .banner_middle h3 {
    color: #009FE3;
    font-family: 'webfontregular';
    font-size: 32px;
}

.banner .banner_middle h4 {
    color: #009FE3;
    font-family: 'webfontregular';
    font-size: 27px;
}

.banner .banner_middle p {
    color: #6F8A9B;
}

.banner .banner_middle a {
    background: url("../images/info_btn.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
	font-family: 'ge_ssmedium';
	font-size:13px;
    font-weight: bold;
    height: 35px;
    line-height: 34px;
    margin-top: 10px;
    padding-right: 20px;
    width: 210px;
}

.banner .banner_left {
    float: left;
    padding-top: 20px;
    width: 305px;
}

/*------ infants boxes ----------*/
.infants_boxes {
    margin: 0 auto;
    min-height: 280px;
    width: 1000px;
}

.infants_boxes .box_shadow {
    background: url("../images/infant_shadow.png") no-repeat scroll center center transparent;
    float: right;
    width: 200px;
}

.infants_boxes .boxes.box_01 {
    background: none repeat scroll 0 0 #DE5692;
}

.infants_boxes .boxes.box_02 {
    background: none repeat scroll 0 0 #FFDB40;
    color: #A26B2A;
}

.infants_boxes .boxes.box_03 {
    background: none repeat scroll 0 0 #A8D0F1;
    color: #607C93;
}

.infants_boxes .boxes.box_04 {
    background: none repeat scroll 0 0 #CC3333;
    position: relative;
}

.infants_boxes .boxes.box_05 {
    background: none repeat scroll 0 0 #B8D269;
    color: #5E7222;
}

.infants_boxes .boxes.box_01 .inf_images, .infants_boxes .boxes.box_02 .inf_images, .infants_boxes .boxes.box_03 .inf_images  {
	margin-top: 26px;
}

.infants_boxes .boxes {
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    margin: 0 auto;
    min-height: 200px;
    padding: 12px 0 8px;
    width: 180px;
}

.infants_boxes .boxes h5 {
    float: right;
    font-family: 'ge_sslight';
    font-size: 15px;
	line-height:16px;
    font-weight: normal;
    margin: 0 20px 0 0;
    padding: 0;
    width: 70%;
}

.infants_boxes .boxes h5 span {
    opacity: 0.5;
}

.infants_boxes .boxes .plus_btn {
    cursor: pointer;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}

.infants_boxes .boxes .inf_images {
    margin: 15px auto 0;
    width: 166px;
}

.infants_boxes .boxes .bottom_txt {
    height: 50px;
    margin: 10px auto 0;
    width: 160px;
}

.inf_cont_wrap {
    display: none;
}

.infants_boxes .boxes .inf_cont {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border-radius: 7px 7px 7px 7px;
    margin: 15px auto 0;
    padding: 5px;
    width: 156px;
}

.infants_boxes .boxes ul {
    line-height: 20px;
}

.infants_boxes .boxes ul li a {
    border-bottom: 1px dotted #8C584C;
    color: #8C584C;
    display: block;
    padding: 3px 0;
}

.infants_boxes .boxes .bottom_txt {
    height: 50px;
    margin: 10px auto 0;
    width: 160px;
}

/*------- Home Content ---------*/
.home_content {
    margin: 20px auto;
    width: 1000px;
}
.home_content .cont_boxes {
    border-right: 1px dotted #8CA8CF;
    color: #988F81;
    float: right;
    height: 380px;
    padding: 0 20px;
    width: 285px;
}

.home_content .cont_boxes h3 {
    color: #CC3333;
    font-family: 'ge_sslight';
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}

.home_content .cont_boxes p.gray_btn {
    background: none repeat scroll 0 0 #BAB7B3;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    padding: 3px 20px 3px 5px;
}

.home_content .cont_boxes p.gray_btn a {
    background: url("../images/btn_arrow.png") no-repeat scroll right center transparent;
    color: #FFFFFF;
    padding: 2px 0 2px 40px;
}

.home_content .cont_boxes img {
    float: left;
    margin: 10px;
}
.home_content .cont_boxes p.gray_btn {
    background: none repeat scroll 0 0 #BAB7B3;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    padding: 3px 20px 3px 5px;
}

.home_content .cont_boxes ul.third_box {
    line-height: 20px;
}

.home_content .cont_boxes ul.third_box li {
    background: url("../images/boder_img.jpg") repeat-x scroll right bottom transparent;
    padding: 7px 0;
}

.home_content .cont_boxes ul.third_box li a {
    background: url("../images/small_arrow.png") no-repeat scroll left 5px transparent;
    display: block;
    padding: 0 0 0 20px;
}

.home_content .cont_boxes ul.second_box {
    line-height: 25px;
    list-style: disc inside none;
}

.home_content .cont_boxes ul.second_box li {
    color: #D35C44;
    float: left;
    width: 48%;
}

p.red_btn {
    background: none repeat scroll 0 0 #E5B1B4;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    float: right;
    font-weight: bold;
    line-height: 20px;
    margin-top: 50px;
    padding: 3px 20px 3px 5px;
}

p.red_btn a {
    background: url("../images/btn_arrow.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    padding: 2px 0 2px 40px;
}

.home_content .cont_boxes p.gray_btn {
    background: none repeat scroll 0 0 #BAB7B3;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    padding: 3px 20px 3px 5px;
}

.home_content .cont_boxes p.gray_btn a {
    background: url("../images/btn_arrow.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    padding: 2px 0 2px 40px;
}

.products_gal {
    height: 145px;
    margin: 0 auto;
    width: 960px;
}

.products_gal h3 {
    color: #006699;
    float: right;
    font-family: 'ge_sslight';
    font-size: 22px;
    font-weight: normal;
    width: 300px;
}

.right_name_pro {
    float: left;
    width: 48.5%;
}

.products_gal ul.names {
    line-height: 20px;
    list-style: disc outside none;
}

.products_gal ul.names li:first-child {
    list-style: none outside none;
}
.products_gal ul.names li {
    color: #A2998B;
    float: right;
    margin-left: 30px;
}

.products_gal ul li.list_02 {
    color: #5C6F84;
}

.list_carousel {
    background: url("../images/galler_bg.png") no-repeat scroll 0 0 transparent;
    position: relative;
}
.list_carousel li {
	margin-left:-5px !important;
}
.list_carousel li {
    border-right: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 100px;
    margin: 25px 0;
    padding: 0 10px;
    text-align: center;
    width: 120px;
}

.prev {
    height: 33px;
    left: -2px;
    position: absolute;
    top: 50px;
    width: 43px;
}

.next {
    height: 33px;
    position: absolute;
    right: -2px;
    top: 60px;
    width: 43px;
}

/*-------Pregnancy ---------*/
.inner_content {
    margin: 0 auto;
    padding: 15px 0;
    width: 960px;
}

.inner_content h2 {
    color: #CC3333;
    font-family: 'ge_ssmedium';
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.inner_content .preganany_cont_top {
    border-bottom: 1px solid #DFE4EF;
    clear: both;
    margin: 20px auto 15px;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
}

.inner_content .preganany_cont_top .pregn_right {
    float: right;
    width: 510px;
}

.inner_content .preganany_cont_top h3 {
    color: #58AAE0;
    font-family: 'webfontregular';
    font-size: 35px;
    margin-right: 130px;
}

.inner_content .preganany_cont_top h1 {
    color: #DE5792;
    font-family: 'webfontregular';
    font-size: 60px;
    right: 0;
    position: absolute;
    top: 30px;
    transform: rotate(3deg);
}

.inner_content .preganany_cont_top .pregn_right p {
    color: #8E8E8E;
    margin-right: 130px;
    margin-top: 80px;
}

.inner_content .preganany_cont_top .foots_img {
    bottom: 50px;
    height: 149px;
    right: 530px;
    position: absolute;
    width: 119px;
}

.inner_content .preganany_cont_top .pregn_left {
    float: left;
    width: 400px;
}

.inner_content .preganany_cont_top .pregn_left .preg_txt {
    color: #DE5792;
    float: left;
    font-size: 16px;
    margin-top: 20px;
    width: 245px;
}

.bottom_box {
    clear: both;
    margin-top: 20px;
    width: 100%;
}

.bottom_box .fst_box {
    float: right;
    margin-left: 10px;
    width: 240px;
}

.bottom_box .mid_box {
    float: right;
    margin-left: 10px;
    width: 455px;
}

.bottom_box .midlft_box {
    float: right;
    width: 200px;
}

.bottom_box .rght_box {
    float: left;
    width: 700px;
}

.bottom_box .faqbox_box {
    float: right;
    width: 235px;
}

.bottom_box .pregna_box h3 {
    color: #F73389;
    font-family: 'ge_sslight';
    font-size: 18px;
    font-weight: normal;
}

.bottom_box .pregna_box h5 {
    color: #8E8E8E;
    font-family: 'ge_sslight';
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0;
}

.bottom_box .pregna_box p {
    color: #8E8E8E;
}

.pregna_box ul.third_box {
    line-height: 20px;
}

.pregna_box ul.third_box li {
    background: url("../images/boder_img.jpg") repeat-x scroll right bottom transparent;
    color: #F06CA6;
    padding: 7px 0;
}

.pregna_box ul.third_box li a {
    background: url("../images/small_arrow.png") no-repeat scroll left 5px transparent;
    display: block;
    padding: 0 20px 0 0;
}

.faq_red_btn {
    background: none repeat scroll 0 0 #F8ABD1;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    float: right;
    font-weight: bold;
    line-height: 20px;
    margin-top: 50px;
    padding: 3px 20px 3px 5px;
}

.growing_red_btn a, .feeding_red_btn a, .faq_red_btn a {
    background: url("../images/btn_arrow.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    padding: 2px 0 2px 40px;
}

.feeding_red_btn {
    background: none repeat scroll 0 0 #F73389;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    float: right;
    font-weight: bold;
    line-height: 20px;
    margin-top: 50px;
    padding: 3px 20px 3px 5px;
}

.growing_red_btn {
    background: none repeat scroll 0 0 #C83B79;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    float: right;
    font-weight: bold;
    line-height: 20px;
    margin-top: 50px;
    padding: 3px 20px 3px 5px;
}

.inner_content .preganany_cont_top .infant_right {
    float: right;
    width: 510px;
}

.inner_content .preganany_cont_top .infant_right p {
    color: #8E8E8E;
    margin-right: 130px;
    margin-top: 80px;
}

.bottom_box .midlft1_box {
    float: right;
    width: 225px;
}

.faq_yello_btn {
    background: none repeat scroll 0 0 #EB7940;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    float: right;
    font-weight: bold;
    line-height: 20px;
    margin-top: 50px;
    padding: 3px 20px 3px 20px;
}

.feeding_yello_btn {
    background: none repeat scroll 0 0 #FF9900;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    float: right;
    font-weight: bold;
    line-height: 20px;
    margin-top: 50px;
    padding: 3px 20px 3px 5px;
}

.growing_yello_btn {
    background: none repeat scroll 0 0 #FFCC33;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    float: right;
    font-weight: bold;
    line-height: 20px;
    margin-top: 50px;
    padding: 3px 20px 3px 5px;
}

.growing_yello_btn a, .feeding_yello_btn a, .faq_yello_btn a {
    background: url("../images/btn_arrow.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    padding: 2px 0 2px 40px;
}

/*----- 6-12 months -------*/

.lp_middle {
    float: right;
    padding: 38px 0 0;
    width: 450px;
}

.lp_middle h3 {
    color: #607C93;
    font-family: 'VAGRoundedStd-Thin';
    font-size: 22px;
    font-weight: normal;
}

.lp_middle h2 {
    color: #CC6600;
    font-family: 'pastel';
    font-size: 35px;
    margin-right: 100px;
}

.lp_middle h4 {
    color: #CE9702;
    font-family: 'pastel';
    font-size: 90px;
    margin-right: 40px;
    position: absolute;
    transform: rotate(3deg);
}

.lp_middle p {
    color: #9C7650;
    margin-right: 90px;
    margin-top: 100px;
}

.lp_right {
    float: left;
    margin-right: 550px;
    padding-top: 20px;
    position: absolute;
    width: 360px;
    z-index: 100;
}

.mid-cont {
    background: url("../images/grad.jpg") repeat-x scroll 0 0 #EDF2FE;
    float: right;
    height: 1100px;
    margin: 10px auto 0;
    padding: 0;
    width: 100%;
}

.six-months-container {
    float: right;
    height: auto;
    margin: 0;
    padding: 0;
    width: 300px;
}

.seven-months-container {
    float: right;
    height: auto;
    margin: 0 30px 0 0;
    padding: 0;
    width: 300px;
}

.eight-months-container {
    float: right;
    height: auto;
    margin: 0 30px 0 0;
    padding: 0;
    width: 300px;
}

.lp-bottom-cont {
    border-top: 1px solid #DFE4EF;
    height: 270px;
    margin: 700px 0 0;
    padding: 30px 0 0;
    position: absolute;
    width: 920px;
}



.six-img, .seven-img, .eight-img {
    height: 220px;
    margin: 0 50px 0 0;
    padding-left: 0;
    padding-top: 30px;
    width: 170px;
}

.six-mon-txt, .seven-mon-txt, .eight-mon-txt {
    border-left: 1px dashed #8CA8CF;
    color: #1D6099;
    font-family: 'VAGRoundedStd-Thin';
    height: 200px;
    margin: 0;
    padding: 0 0 0 50px;
    width: 250px;
}

.eight-mon-txt{
	border:none !important;
}

.six-mon-txt h2 {
    color: #1D6099;
    font-family: 'VAGRoundedStd-Thin';
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 324px;
}

.seven-mon-txt h2 {
    color: #1D6099;
    font-family: 'VAGRoundedStd-Thin';
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 299px;
}

.eight-mon-txt h2 {
    color: #1D6099;
    font-family: 'VAGRoundedStd-Thin';
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 299px;
}

.six-mon-txt p, .seven-mon-txt p, .eight-mon-txt p {
    color: #8E8E8E;
    margin-top: 10px;
}

.lp-cont-box1 {
    color: #7CAED7;
    float: right;
    font-weight: normal;
    height: 300px;
    margin: 0 0 10px;
    padding: 0;
    width: 265px;
}

.lp-cont-box2 {
    color: #7CAED7;
    float: right;
    font-weight: normal;
    height: 300px;
    margin: 0 0 10px 20px;
    padding: 0;
    width: 425px;
}

.lp-cont-box3 {
    color: #7CAED7;
    float: right;
    font-weight: normal;
    height: 300px;
    margin: 0 0 10px 20px;
    padding: 0;
    width: 190px;
}

.lp-cont-box3 .third_box {
    color: #CC6600;
    line-height: 20px;
    margin-top: 30px;
}

.lp-cont-box3 .third_box li {
    background: url("../images/boder_img.jpg") repeat-x scroll right bottom transparent;
    padding: 5px 0 10px;
}

.lp-cont-box3 ul.third_box li a {
    background: url("../images/small_arrow.png") no-repeat scroll left 5px transparent;
    display: block;
}

.right_img2 {
    margin-right: 150px;
    margin-top: 120px;
}

.blue_btn3 {
    background: none repeat scroll 0 0 #5083CF;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    font-weight: bold;
    right: 720px;
    line-height: 20px;
    padding: 3px 20px 3px 5px;
    position: absolute;
    top: 280px;
}

.blue_btn3 a {
    background: url("../images/btn_arrow.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    padding: 2px 0 2px 40px;
}

.blue_btn2 {
    background: none repeat scroll 0 0 #7A9CD4;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    font-weight: bold;
    right: 290px;
    line-height: 20px;
    padding: 3px 20px 3px 5px;
    position: absolute;
    top: 280px;
}

.blue_btn2 a {
    background: url("../images/btn_arrow.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    padding: 2px 0 2px 40px;
}

.blue_btn {
    background: none repeat scroll 0 0 #8DC1EB;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    font-weight: bold;
    right: 0;
    line-height: 20px;
    padding: 3px 20px 3px 5px;
    position: absolute;
    top: 280px;
}

.blue_btn a {
    background: url("../images/btn_arrow.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    padding: 2px 0 2px 40px;
}

.lp-cont-box2 h3 {
    color: #7CAED7;
    float: right;
    font-family: 'VAGRoundedStd-Thin';
    font-size: 22px;
    font-weight: normal;
}

.lp-cont-box2 h4 {
    color: #CC6600;
    float: right;
    font-family: 'webfontregular';
    font-size: 20px;
    margin-right: -120px;
    margin-top: 80px;
    transform: rotate(3deg);
}

.lp-cont-box2 h2 {
    color: #CE9702;
    float: right;
    font-family: 'webfontregular';
    font-size: 60px;
    line-height: 60px;
    margin-right: 10px;
    margin-top: 90px;
    position: absolute;
    transform: rotate(3deg);
}

.lp-left-img2 {
    height: 199px;
    right: 455px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 75px;
    width: 245px;
}
.lp-cont-box1 h3 {
    color: #7CAED7;
    float: right;
    font-family: 'VAGRoundedStd-Thin';
    font-size: 22px;
    font-weight: normal;
}

.lp-cont-box1 p {
    color: #8E8E8E;
    font-weight: normal;
    margin-top: 10px;
	text-align
}

.lp-left-img1 {
	float: left;
    height: 161px;
    margin: 0;
    padding: 0;
    width: 72px;
}